<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Epílogo, obra de Igalia	</title>
	<atom:link href="http://mswl.ghandalf.org/epilogo-igalia/feed/" rel="self" type="application/rss+xml" />
	<link>http://mswl.ghandalf.org</link>
	<description>Máster Software Libre en Galicia ano I Asociación GHANDALF</description>
	<lastBuildDate>Wed, 21 Mar 2012 13:16:34 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	</channel>
</rss>
