<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Máster Software Libre en Galicia, ano I</title>
	<atom:link href="http://mswl.ghandalf.org/feed/" rel="self" type="application/rss+xml" />
	<link>http://mswl.ghandalf.org</link>
	<description>Máster Software Libre en Galicia ano I Asociación GHANDALF</description>
	<lastBuildDate>Fri, 07 Feb 2014 21:18:55 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	</channel>
</rss>
