/*  
Theme Name: Master Software Libre v1
Theme URI: http://mswl.ghandalf.com/
Description: A highly customized theme based on the <a href="http://code.google.com/p/blueprintcss/">Blueprint CSS Framework</a>, with inspiration on The New York Times.
Version: 1.0
Author: Francisco Diéguez Souto
Author URI: http://www.mabishu.com/

Credits:

Based on the Blueprint CSS Framework:
http://code.google.com/p/blueprintcss/

Uses Fam Fam Fam Silk Icons: 
http://www.famfamfam.com/lab/icons/silk/

*/

/* --------------------------------------------------------------

   Reset.css
   * Resets default browser CSS styles.

   Original by Erik Meyer:
   * meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/

-------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html{ background:White;}
body { line-height: 1; color: #333; background: white; }

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* --------------------------------------------------------------

   Typography.css
   * Sets some default typography.

   Based on work by:
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Wilson Miner      [wilsonminer.com]

   Read more about using a baseline here:
   * alistapart.com/articles/settingtypeontheweb

-------------------------------------------------------------- */

body {
/*  font-family: Ubuntu, "Lucida Grande", Helvetica, Arial, Verdana, sans-serif; */
   font-family: Verdana, "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
   line-height: 1.5; /* Unitless for proper inheritance */
}

/* This is where you set your desired font size. The line-height
   and vertical margins are automatically calculated from this.

   You have to add an extra calculation here because of IE, so that
   all users may resize text manually in their browsers.

   The top one is for IE: The percentage is of 16px (default IE text size)
   10px is 62.5%, 12px is 75%, 13px is 81.25%, and so forth).
   The second value is what all other browsers see (the wanted font size). */

body          { font-size: 75%; }   /* IE */
html > body   { font-size: 12px; }  /* Other browsers */


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
  font-family: Ubuntu, Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
  color:#111;
  clear:both;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; line-height:2; }
h4 { font-size: 1.2em; line-height:1.25; font-weight:bold; }
h5 { font-size: 1em; font-weight:bold; }
h6 { font-size: 1em; }


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1.5em 0; text-align:justify; }
p.last      { margin-bottom:0; }
p img       { float: left; margin: 1.5em 1.5em 1.5em 0; padding:0; }
p img.top   { margin-top:0; } /* Use this if the image is at the top of the <p>. */

ul, ol      { margin: 0 0 1.5em 1.5em; }
div.post ul          { list-style: square outside !important; margin-left:40px !important; }
ol          { list-style-type: decimal; }
dl          { margin: 1.5em 0; }
dl dt       { font-weight: bold; }

a           { color: #125AA7; text-decoration: underline; outline: none; }
a:hover     { color: #000; }

blockquote  { margin: 1.5em 0 1.5em 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em          { font-style: italic; }
pre         { margin-bottom: 1.3em; background: #eee; border:0.1em solid #ddd; padding:1.5em; }
code        { font:0.9em Monaco, monospace; }

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #B2CCFF;
  color: #B2CCFF;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.4em 0;
  border: none;
}
* html hr { margin: 0 0 1.2em 0; } /* IE6 fix */


/* Tables
-------------------------------------------------------------- */

table   { margin-bottom: 1.4em; border-top:0.1em solid #ddd; border-left:0.1em solid #ddd; }
th,td   { height: 1em; padding:0.2em 0.4em; border-bottom:0.1em solid #ddd; border-right:0.1em solid #ddd; }
th      { font-weight:bold; }


/* Forms
-------------------------------------------------------------- */

label     { font-weight: bold; }
textarea  { height: 180px; width: 300px; }


/* Some default classes
-------------------------------------------------------------- */

.small   { font-size: 0.8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large   { font-size: 1.2em; line-height: 2.5em; }
.quiet   { color: #666; }
.hide     { display: none; }


/* Extra fancy typography
-------------------------------------------------------------- */

/* For great looking type, use this code instead of asdf:
   <span class="alt">asdf</span>
   Best used on prepositions and ampersands. */

.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", serif;
  font-size: 1.2em;
  line-height: 1%; /* Maintain correct baseline */
  font-style: italic;
}

/* For great looking quote marks in titles, replace "asdf" width:
   <span class="dquo">&#8220;</span>asdf&#8221;
   (That is, when the title starts with a quote mark).
   (You may have to change this value depending on your font size). */

.dquo { margin-left: -.7em; }


/* Reduced size type with incremental leading
   (http://www.markboulton.co.uk/journal/comments/incremental_leading/)

   This could be used for side notes. For smaller type, you don't necessarily want to
   follow the 1.5x vertical rhythm -- the line-height is too much.

   Using this class, it reduces your font size and line-height so that for
   every four lines of normal sized type, there is five lines of the sidenote. eg:

   New type size in em's:
     10px (wanted side note size) / 12px (existing base size) = 0.8333 (new type size in ems)

   New line-height value:
     12px x 1.5 = 18px (old line-height)
     18px x 4 = 72px
     60px / 5 = 14.4px (new line height)
     14.4px / 10px = 1.44 (new line height in em's) */

p.incr, .incr p {
	font-size: 0.83333em; /* font size 10px */
	line-height: 1.44em;
	margin-bottom: 1.8em; /* Still 1.5 x normal font size as baseline */
}


/* --------------------------------------------------------------

   Grid.css
   * Creates an easy to use grid of 14 columns.

   Based on work by:
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Khoi Vinh         [subtraction.com]

   By default, the grid is 960px wide, with columns
   spanning 50px, and a 20px margin between columns.

   If you need fewer or more columns, use this
   formula to find the new total width:

   Total width = (columns * 70) - 20

-------------------------------------------------------------- */

body {
  text-align: center; /* IE Fix */
  margin:36px 0;
}

/* A container should group all your columns. */
.container {
  text-align: left;
  position: relative;
  padding: 0;
  margin: 0 auto;   /* Centers layout */
}


/* Columns
-------------------------------------------------------------- */

/* Use this class together with the .span-x classes
   to create any compsition of columns in a layout.
   Nesting columns works like a charm (remember .first and .last). */

.column {
  float: left;
  margin: 0 10px;
  padding: 0;
}
* html .column { overflow-x: hidden; } /* IE6 fix */


/* Add this class to a column if you want a border on its
   right hand side. This should be customized to fit your needs. */

.border {
  padding-right: 9px;
  margin-right: 0;
  border-right: 1px solid #ddd;
}


/* The first and last elements in a multi-column
   block needs one of these classes each. */

.first  { margin-left: 0; }
.last   { margin-right: 0; }


/* Use these classes to set how wide a column should be. */
.span-1   { width: 50px; }
.span-2   { width: 120px; }
.span-3   { width: 190px; }
.span-4   { width: 260px; }
.span-5   { width: 330px; }
.span-6   { width: 400px; }
.span-7   { width: 470px; }
.span-8   { width: 580px; }
.span-9   { width: 610px; }
.span-10  { width: 680px; }
.span-11  { width: 750px; }
.span-12  { width: 790px; }
.span-13  { width: 890px; }
.span-14  { width: 960px; margin: 0; }

/* Add these to a column to append empty cols. */
.append-1   { padding-right: 70px; }
.append-2   { padding-right: 140px; }
.append-3   { padding-right: 210px; }
.append-4   { padding-right: 280px; }
.append-5   { padding-right: 350px; }
.append-6   { padding-right: 420px; }
.append-7   { padding-right: 490px; }
.append-8   { padding-right: 560px; }
.append-9   { padding-right: 630px; }
.append-10  { padding-right: 700px; }
.append-11  { padding-right: 770px; }
.append-12  { padding-right: 840px; }
.append-13  { padding-right: 910px; }

/* Add these to a column to prepend empty cols. */
.prepend-1   { padding-left: 70px; }
.prepend-2   { padding-left: 140px; }
.prepend-3   { padding-left: 210px; }
.prepend-4   { padding-left: 280px; }
.prepend-5   { padding-left: 350px; }
.prepend-6   { padding-left: 420px; }
.prepend-7   { padding-left: 490px; }
.prepend-8   { padding-left: 560px; }
.prepend-9   { padding-left: 630px; }
.prepend-10  { padding-left: 700px; }
.prepend-11  { padding-left: 770px; }
.prepend-12  { padding-left: 840px; }
.prepend-13  { padding-left: 910px; }


/* Use a .box to create a padded box inside a column.
   Sticking to the the baseline. */

.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #f0f0f0;
}


/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clear { display: inline-block; }
.clear:after, .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clear { height: 1%; }
.clear { display: block; }


/* Nudge your elements [subtraction.com/archives/2007/0606_nudge_your_e.php]:
   All block elements (not hr) inside a col should have a 5px padding on each side.
   (Not everyone wants this, but feel free to uncomment if you do.)

p,ul,ol,dl,h1,h2,h3,h4,h5,h6,
caption,pre,blockquote,input,textarea {
  padding-left: 5px;
  padding-right: 5px;
}
div, table {
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
} */


/* Images
-------------------------------------------------------------- */

/* Remember the baseline (typography.css). */
img { margin: 0 0 1.5em 0; }


/* Use these classes to make an image flow into the column before
   or after it. This techique can also be used on other objects. */

.pull-1  { margin-left: -70px; }
.pull-2  { margin-left: -140px; }
.pull-3  { margin-left: -210px; }

.push-0  { margin: 0 0 0 1.5em; float: right; } /* Right aligns the image. */
.push-1  { margin: 0 -88px 0 1.5em; float: right; }
.push-2  { margin: 0 -158px 0 1.5em; float: right; }
.push-3  { margin: 0 -228px 0 1.5em; float: right; }



/* --------------------------------------------------------------

   Buttons.css
   * Gives you some great buttons for many purposes.

   Created by Kevin Hale [particletree.com]
   * particletree.com/features/rediscovering-the-button-element

   W3C: "Buttons created with the BUTTON element function
   just like buttons created with the INPUT element,
   but they offer richer rendering possibilities."

   Usage:

   <button type="submit" class="button positive">
     <img src="css/blueprint/lib/img/icons/tick.png" alt=""/> Save
   </button>

   <a class="button" href="/password/reset/">
     <img src="css/blueprint/lib/img/icons/textfield_key.png" alt=""/> Change Password
   </a>

   <a href="#" class="button negative">
     <img src="css/blueprint/lib/img/icons/cross.png" alt=""/> Cancel
   </a>


-------------------------------------------------------------- */

a.button, button {
  display:block;
  float:left;
  margin:0 0.583em 0.667em 0;
  padding:5px 10px 6px 7px;   /* Links */

  border:0.1em solid #dedede;
  border-top:0.1em solid #eee;
  border-left:0.1em solid #eee;

  background-color:#f5f5f5;
  font-family: Ubuntu, "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size:100%;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#565656;
  cursor:pointer;
}
button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px;   /* IE6 */
}
button[type] {
  padding:5px 10px 5px 7px;   /* Firefox */
  line-height:17px;           /* Safari */
}
*:first-child+html button[type] {
  padding:4px 10px 3px 7px;   /* IE7 */
}
button img, a.button img{
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}


/* Button colors
-------------------------------------------------------------- */

/* Standard */
button:hover, a.button:hover{
  background-color:#dff4ff;
  border:0.1em solid #c2e1ef;
  color:#336699;
}
a.button:active{
  background-color:#6299c5;
  border:1px solid #6299c5;
  color:#fff;
}

/* Positive */
.positive {
  color:#529214;
}
a.positive:hover, button.positive:hover {
  background-color:#E6EFC2;
  border:0.1em solid #C6D880;
  color:#529214;
}
a.positive:active {
  background-color:#529214;
  border:0.1em solid #529214;
  color:#fff;
}

/* Negative */
.negative {
  color:#d12f19;
}
a.negative:hover, button.negative:hover {
  background:#fbe3e4;
  border:0.1em solid #fbc2c4;
}
a.negative:active {
  background-color:#d12f19;
  border:0.1em solid #d12f19;
  color:#fff;
}



/*-----------------------------------------------------------------------------
	ProduccingOSS-WP Theme v3
	By: Francisco Diéguez (mabishu.com)
-----------------------------------------------------------------------------*/

@font-face { font-family: AlteHaasGroteskRegular; src: url('../fonts/AlteHaasGroteskRegular.html'); }
@font-face { font-family: AlteHaasGroteskRegular; font-weight: bold; src: url('../fonts/AlteHaasGroteskRegularBold.html'); }

@font-face { font-family: GentesqueRegular; src: url('../fonts/GentesqueRegularLight.html'); }
@font-face { font-family: GentesqueRegular; font-weight: bold;  src: url('../fonts/GentesqueRegular.html'); }

/* body { margin-bottom: 0; margin-top: 0; background-color:White; font-family:Ubuntu, Verdana; } */
body { margin-bottom: 0; margin-top: 0; background-color:White; font-family:Verdana; }

#page { width:100%; margin:0 auto; }
.container { background-color: #ffffff; border-bottom: 5px #cccccc solid;}
#main-logo {
	margin:40px 0 0 40px;
}
a { color: #333; }
a:hover { color: #000; }
hr { background: #CCC; height: 1px; }
img { margin: 0; }
p img { float: none; }
a.button { float: left; } /* Fix for buttons */
input { padding-left: 0; border: 1px solid #CCCCCC; }
ul { margin-left: 15px; list-style-type: none; }
ul li { padding: 2px 0 2px 2px;  }
ol { margin-left: 35px; }
label { font-weight: normal; }
textarea { height: 200px; width: 500px;}
blockquote {font-style: normal; padding: 0 0 0 0; color: #888; background: url('images/quote.html') .5em top no-repeat; }
blockquote p { padding: 0 20px 0 30px; }

a.button, button { font-weight: normal; }
p { margin-bottom:2em}
pre { -moz-border-radius:0 0 20px 0; -webkit-border-radius:0 0 20px 0; border:none; padding-left:35px; }
h3, h3 a { font-size: 1.3em; line-height: 1.2; letter-spacing: 0px; text-decoration: none; font-family:Ubuntu !important; margin-bottom:5px; font-weight:bold;}
h2, h2 a { color: #3B4A25; text-decoration: none; }
h4{ font-family:Ubuntu !important; margin-bottom:5px; font-size:.9em; font-weight:bold; font-style:italic;}

/*
    Classes
*/

.small { font-size: .9em; }
.nomargin { margin:0; }
.single { display:block; margin:0 auto; }
.navigation,
.navigation a { color: #AAA; }
.navigation { padding-bottom:50px; display:block; position:relative; text-align:center }
.alignright { float: right; }
.alignleft { float: left; }

.post { line-height:1.6em}
.quickposts blockquote{ background:url('images/quote.html') 2em 1em no-repeat; padding:15px; padding-bottom:1px; padding-left:45px; }
.quickposts div.content-post .frase{font-size:1.5em; }
.quickposts div.actions{ display:none}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix {display: inline-block;}  /* for IE/Mac */
.more-news, .more-bookmarks{ margin:10px 0 0 10px; padding-left:20px; background:url(images/more-news.html) center left no-repeat;}


/*
    Main Content
*/
#maincontent{ margin:20px 0 20px 0; width:100%;  }
#maincontent h2 { color: #3B4A25; margin-bottom: 15px; margin-bottom:0px !important }
#maincontent div.post h2, .widget h2, .widget-title, .widget-title h2	{ border-bottom:8px solid #f6e82a; padding-bottom:5px; margin-bottom:5px; color:#2e3436}
#maincontent div.post h2 a, .widget h2, .widget-title, .widget-title h2 { color:#2e3436;}
#maincontent .content 	{ }

#maincontent .content{
	float:left;
	clear:none;
}
#maincontent .sidebar {
	float:left;
	clear:none;
}
#maincontent, #sidebar { margin:0; padding:0; margin-right:10px; }



#sidebar {
	float:left;
	clear:none;
}


.post-content h2,
.widget-title,
.widget h2,
li.categories h2{
	line-height:19.2px !important;
	font-size:24px !important;
	color:#2e3436 !important;
}
ul.widget-content{
	background:#eeeeec;
	padding-top:10px;
/*	font-family:Ubuntu; */
	font-family:Verdana;
	color:Black;
	padding:10px 0 !important;
}
ul.widget-content,
ul.widget-content li {
}
ul.widget-content li a{
	padding:5px 7px 5px 15px;
	display:block;
}
/*
	Header
*/

#header { max-width:100%; margin:0 auto; position:relative;}
#wrapper-header{ background:Black; color:#F6E82A; height:243px; min-height: 243px; margin-bottom:40px }
#header h1 { }
#header #frase {
	position:absolute;
	bottom:10px;
	right:15px;
	width:249px;
	height:108px;
	background:url(images/fondo-frase.png) top right no-repeat;
}
#header #frase div {
	margin:20px 30px 10px 30px;
	display:block;
	font-size:17px;
	color:White;
}
#description { display:block;text-transform:uppercase; color:#bbc936; margin-top:17px; width:140px; }
#nav { }
#nav, #subnav { }
#nav ul, #subnav ul {  }
#nav li, #subnav li {  }
#nav li a, #subnav li a { }
#nav li.current_page_item a, #nav li a:hover 	{  }
#nav li.current_page_item a{  }
#nav li.first a {  }

#nav .current_page_item {
	font-weight:bold;
}

.widget{
	margin-bottom:10px;
}
#sidebar li a {
	color:#2e3436;
	text-decoration:none;
	font-size:12px;
	margin:0 auto
}
#sidebar li a:hover {
	text-decoration:underline;
}
#subnav {  }
#subnav li.current_page_item a,
#subnav li a:hover {  }

#teaser { display:block; padding: 30px; width: 80%; margin:0 auto; padding-top:10px; }
#teaser h2{ color: #666666; font-family: "Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif; font-style: italic; font-weight: normal;font-size:1.3em; }

/*
        Navigation bar in posts (use main nav html inside a post)
*/
.entry #nav { margin-bottom: 15px; background: #FFF;}
.entry #nav .content { padding: 0; margin: auto; }
.entry #nav li a { color: #FFF; border-right: 1px solid #AAA; background: #666; }
.entry #nav li.last a { border-right: none; }
.entry #nav li a:hover { background: #333; color: #FFF;}

/*
	Sidebar
*/

#sidebar { /* lets us have border */ }
#sidebar h2 { font-size: 1.3em; line-height: 1.2; }
#sidebar ul, #sidebar ul ol { margin: 0; }
#sidebar > ul {}
#sidebar ul li { padding: 0; }
#sidebar ul li ul { padding-top: 0; }
#sidebar ul li ul li {}
#sidebar ul li, #subscribe ul li { list-style-type: none; background: none; }
#subscribe ul li { margin: 0 0 0 -30px; }

.feedlink { padding: 2px 0 2px 20px; background: url('images/icons/feed_small.png') left center no-repeat; }

/*
	Footer
*/

#footer { text-align: center; font-size: 1em; margin: 0; height:200px; border-top:9px solid #f6e82a; padding-top:10px; background:Black; position:relative; font-family:Ubuntu;}
#footer a { text-decoration: underline; color:White }
#footer-info { text-align:left; padding:15px 0 0px 30px;width:500px;  }
#footer-logo { margin:15px 0 0 50px; width:181px; height:53px; position:absolute; left:520px; }
#footer-logo, #footer-info {
	font-size:.9em;
	color:White;
}

#footer .wrapper-credits {
	margin-top:20px;
}
#footer div.wrapper-credits ul.credits{
	display:inline-block;
	width: 140px;
}
#footer div.wrapper-credits ul.credits,
#footer div.wrapper-credits ul.credits li {
	margin:0;
	padding:0;
	padding-bottom:10px
}
/*
	Search
*/

#search { float: right; }
#search #s { background: transparent url('images/icons/search_grey.gif') 0px center no-repeat; padding: 2px 0 2px 17px; width: 135px; color: #CCCCCC; font-size: 0.9em; margin-right: 20px; }
#search #s:hover { color: #000; }
.search-excerpt { margin: 0; }


#search { margin:0 auto; float:none;}
#search #s { background: transparent url('images/icons/search_grey.gif') 0px center no-repeat; padding: 2px 0 2px 17px; width: 135px; color: #CCCCCC; font-size: 0.9em; margin-right: 20px; }
#search #s:hover { color: #000; }
.search-excerpt { margin: 0; }
#searchform{ padding:10px; border:1px solid #f1f1f1; margin-bottom:30px;}
#content-searchform{ background:#f1f1f1; padding:50px;}
#content-searchform #s {background-color:White; padding:5px 5px 5px 17px; margin-left:10px;}
#s:active { color:black; }
#submit{ padding:5px; -moz-border-radius:5px; -webkit-border-radius:5px; background:white; }

textarea, input {padding:5px; width:100%}
#commentform input { width: 50%; margin-right:5px;}
input[type="button"], input[type="submit"]{
    background:#fff url(../../../wp-admin/images/white-grad.html) top right repeat-x;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 13px;
    line-height: 1em;
    padding:2px 8px;
    margin:1px;
    border:1px solid #dfdfdf;
}
/*
	Comments
*/

.commentlist li { padding: 8px 15px; }
div.comment-content{background:url(images/comment-box-white-top.png) top left no-repeat; padding-top:7px !important; width:500px;}
div.comment-content-middle{ min-height:30px; width:478px; padding:10px; border-right:1px solid #ccc; border-left:1px solid #ccc;}
div.comment-content-middle p { margin:0 auto; width:96%; line-height:1.5em; }
div.comment-content-footer{background:url(images/comment-box-white-bottom.png) bottom left no-repeat; height:20px;}
div.comment-dates{ margin-top:5px; font-size:.8em; line-height:1em}

/*
	WP-Pagenavi
*/
.wp-pagenavi span, .wp-pagenavi a{ padding:5px 8px !important; border:1px solid #ccc !important; width:125px !important; }
.wp-pagenavi a{ color:#bbc936 !important; }

/*
	Actions
*/
.actions { display:inline; position:relative;  padding:5px 0; }
.actions a { color:#333; text-decoration:none; margin:0; padding:0;}
.actions img { vertical-align:middle; }
.actions ul { background:#fff; display:none; position:absolute;  top:20px; left:10px; width:138px; margin:0px; padding:5px !important;
             border-color:#fafafa #eae8e9 #eae8e9 #fafafa; border-style:solid; border-width:1px 3px 3px 1px; list-style:none !important;}
.actions ul li { border-bottom:1px solid #eae8e9; list-style:none;}


/*
	Main page
*/
#main ul,#main ul li{margin:0; padding:0;}
#main ul li {padding:2px 0;}
.wrapper-main{  margin:0 auto; padding:0 10px; max-width:99.5%; font-family:Arial !important }

#main-targets, #wpcf7 {width:97%; border-top:1px solid #e7e7e7; height:280px; margin-left:10px;}
#contact-section > div{width:33.2%; float:left; padding:0px; border-right:1px solid #e7e7e7; height:100%; color:#666}
#contact-section > div.last {border:none;}


div.home-authors {
	margin-top:20px;
	margin:20px 50px;
}

div.home-authors h4 {
	font-style:normal;
	font-weight:normal;
	font-size:15px;
}

div.home-authors > div{
	float:left;
margin-right:15px;
}
div.home-authors div.author {
	float:left;
	margin:10px 0px;
	font-size:.8em;
	margin-right:10px;
	display:inline-block;
}
div.home-authors > div img {
	
}

div.home-authors > div strong {
	font-size:1.1em;
	display:block;
}
div.home-authors div.author a{
	display:inline;
	text-decoration:none;
}
div.home-authors div.author a:hover{
	text-decoration:underline;
}

/*div.entry p:first-child:first-letter{ color:#666; font-size:3.4em; float:left; margin:6px 5px 0 0; }
blockquote p:first-letter{ font-size:1em !important; color:#999 !important; float:none !important; margin:0 !important;}
*/
div.wpcf7 {padding:0; width:75% !important; margin:20px 0 0 30px !important; position:relative; padding:3px 0 0px 30px !important;}
div.wpcf7 input[type="text"]{ margin:2px 0 8px 2px; padding:5px; }
div.wpcf7 div.your-name, div.wpcf7 div.your-email { width:180px !important; margin-top: 5px; }
#wpcf7 textarea { height:60px; margin:2px; margin-top:4px; padding:5px; border:1px solid #dfdfdf}
input[type="button"], input[type="submit"]{
    width:40% !important;
    background:#fff url(../../../wp-admin/images/white-grad.html) top right repeat-x !important;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 13px;
    line-height: 1em;
    padding:3px 4px;
    margin:5px 0;
    border:1px solid #dfdfdf;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
}
.google-map { background: #fff url(images/google-map.html) bottom right no-repeat;}
#respond, #comments { font-size:1.3em; border-bottom:1px solid #dfdfdf; font-family:Georgia; font-style:italic; font-weight:bold; color:#888 !important;}

.content-post li{ padding-left:5px;}

pre {
	width: 500px;                          /* specify width  */
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */		       /* only if needed */
        font-family:Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace
	}

code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
	}
pre code {
	line-height: 1.6em;
	font-size: 11px;
	}
pre {
	padding: 1em 1.5em 1.5em 2em;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
	}
/* target IE7 and IE6 */
*:first-child+html pre {
	padding-bottom: 2em;
	overflow-y: hidden;
	overflow: visible;
	overflow-x: auto;
	}
* html pre {
	padding-bottom: 2em;
	overflow: visible;
	overflow-x: auto;
	}
.tweetmeme_button{
	position:absolute;
	top:10px;
	right:0;
}
.post{
	position:relative;
}

.awesome, .awesome:visited {
	background: #222 url(../../../images/alert-overlay.html) repeat-x;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
    display:block;
    margin:0 !important;
}

div.index-download-button {
	width:180px;
	margin-right:40px;
	margin-top:10px;
}
div.entry {
	padding-top:10px;
	display:block!
}

.other-download-options{
	font-size:10px;
	color:#729fcf;
	text-decoration:none;
	text-align:center;
}
.download-pdf, .download-odt {
	list-style:none;
	margin-left:30px;
}

.download-pdf *, .download-odt * {
	font-size:1.2em;
	vertical-align:middle;
	margin-right:10px;
}

.awesome:hover				{ background-color: #111; color: #fff; }
.awesome:active				{ top: 1px; }
.small.awesome, .small.awesome:visited  { font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited { font-size: 13px; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 	{ font-size: 14px; padding: 8px 14px 9px; }
.green.awesome, .green.awesome:visited	{ background-color: #91bd09; }
.green.awesome:hover			{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited	{ background-color: #00a1d9; }
.blue.awesome:hover			{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited	{ background-color: #e33100; }
.red.awesome:hover			{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited  { background-color: #a9014b; }
.magenta.awesome:hover			 { background-color: #630030; }
.orange.awesome, .orange.awesome:visited { background-color: #fb8b00; }
.orange.awesome:hover			 { background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
