/* -------------------------------------------------------------- 
  
   Blueprint CSS Framework
   [bjorkoy.com/blueprint]
   
   * Print Styles *

   #heder, #footer, #navigation { display:none; }
   
-------------------------------------------------------------- */

body{font-family:Georgia,Times,serif;line-height:1.5;color:#000;background:none;font-size:11pt;}
img{float:left;margin:1.5em 1.5em 1.5em 0;}
p img.top{margin-top:0;}
hr{background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
blockquote{margin:1.5em 0;padding:1em;font-style:italic;font-size:.9em;}
.small,.small p{font-size:.9em;}
.large,.large p{font-size:1.1em;}
.quiet,.quiet p{color:#999;}
.hide{display:none;}
a:link,a:visited{background:transparent;font-weight:bold;text-decoration:underline;}
a:link:after,a:visited:after{content:"(" attr(href) ") ";font-size:90%;}
.container{font-family:Georgia;font-size:.9em;}
.navigation,.actions{display:none;}
blockquote{font-style:normal;padding:0;color:#888;background:url('../images/quote.html') .5em top no-repeat;}
blockquote p{padding:0 20px 0 30px;}
#header{padding:20px 10px;max-width:100%;margin:0 auto;}
#wrapper-header{margin:30px 0 0 40px;}
#header h1{border-right:1px solid #ccc;height:50px;padding-right:20px;}
#header h1 img{padding:5px 10px 0 0;}
#description{display:block;text-transform:uppercase;color:#bbc936;margin-top:17px;width:130px;}
#nav{margin-top:17px;}
#nav,#subnav{display:block;text-transform:uppercase;color:#646464;}
#nav ul,#subnav ul{margin:0;padding:0;list-style:none;}
#nav li,#subnav li{margin:0;padding:0;float:left;background-image:none;}
#nav li a,#subnav li a{padding:0 15px;text-decoration:none;color:#646464;}
#nav li.current_page_item a,#nav li a:hover{color:#000;}
#nav li.first a{margin-left:20px;}
#subnav{background:#646464;}
#subnav li.current_page_item a,#subnav li a:hover{color:#000;margin-top:2px;font-weight:bold;}
#teaser{display:block;padding:30px;width:80%;margin:0 auto;padding-top:100px;}
#teaser h2{color:#666;font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",Georgia,serif;font-style:italic;font-weight:normal;font-size:1.3em;}
